.login_form {
  display: flex;
  width: 400px;
  height: 350px;
  padding: 15px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.form_header {
  height: 70px;
  margin-bottom: 40px;
}

.inputs_wrapper {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
}

.noaccaunt_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px;
}

.noaccaunt_container>p {
  margin-top: 8px;
}

/* .button_container {
  display: flex;
  margin-left: 260px;
} */